[project]
	description = Testi
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raminurmi
[access "refs/for/refs/*"]
	read = group user/raminurmi
	push = group user/raminurmi
	label-Code-Review = -2..+2 group user/raminurmi
	label-Verified = -1..+1 group user/raminurmi
	rebase = group user/raminurmi
	removeReviewer = group user/raminurmi
	submit = group user/raminurmi
[access "refs/heads/*"]
	read = group user/raminurmi
	create = group user/raminurmi
	push = +force group user/raminurmi
	pushMerge = group user/raminurmi
[access "refs/tags/*"]
	push = +force group user/raminurmi
	pushTag = group user/raminurmi
	pushSignedTag = group user/raminurmi
